.wrapper {
  --gap-mobile: 24px;
  --gap-desktop: 48px;
  --image-max-width: 265px;
  --border-radius: 10px;

  display: flex;
  gap: var(--gap-mobile);
  flex-wrap: wrap;
}

.image {
  flex-shrink: 0;
  object-fit: cover;
  border-radius: var(--border-radius);
  aspect-ratio: 292 / 320;
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .image {
    width: 100%;
    max-width: none;
    height: 220px;
    aspect-ratio: unset;
    display: block;
    object-fit: cover;
    border-radius: 8px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    gap: var(--gap-desktop);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .image {
    max-width: 650px;
    height: 360px;
    width: 100%;
  }
}