.wrapper {
  --padding-mobile: 24px;
  --padding-desktop: 44px 52px;
  --gap: 100px;
  --list-gap: 16px;
  --border-radius: 10px;

  display: flex;
  gap: var(--gap);
  padding: var(--padding-mobile);
  border-radius: var(--border-radius);
  flex-direction: column;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  height: 100%;
  flex: 1;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--list-gap);
  font-family: var(--font-family-medium);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--list-gap);
}

.name {
  color: var(--color-text-secondary);
}

.value {
  text-transform: capitalize;
  color: var(--color-text-primary);
}

:global([data-theme="dark"]) .name {
  color: #E0E0E0;
}
:global([data-theme="dark"]) .value {
  color: #fff;
}

:global([data-theme="dark"]) .wrapper {
  background: var(--color-card);
  border: 1px solid var(--color-border);
}

@media (min-width: 1440px) {
  .wrapper {
    padding: var(--padding-desktop);
  }
}